<table class="files ng-scope" ng-if="wc.layout == 'list'">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Image</th>
                              <th>Title</th>
<!-- UI comment - Changed "Created" to "Added" -->
                              <th>Date Added</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- ngRepeat: courseImage in wc.courseImages track by $index --><tr ng-repeat="courseImage in wc.courseImages track by $index" class="ng-scope">
                              <td class="ng-binding">1</td>
                              <td>
                                  <img style="background-image: url(https://loris.dev.tlt.harvard.edu/loris/atg-media-management-api-non-prod%2Fdev%2Fimages%2F34%2F33fbc9f625bb93e7159ffa2a8f30036c.jpg/full/266,200/0/default.jpg)" class="droplet-preview ng-isolate-scope ng-valid" ng-model="courseImage">
                              </td>
                              <td class="ng-binding">Cosmos.jpg</td>
                              <td class="ng-binding">03/10/2016 at 5:31PM</td>
                              <td>
<!-- UI comment - Adding the same icons as in the grid view for consistency -->
                                  <button class="btn btn-default" ng-click="wc.imageView(courseImage.id)"><span class="glyphicon glyphicon-cog"></span> Edit Image Data
                                  </button><button class="btn btn-primary" ng-click="wc.addToCollection(courseImage)"><span class="glyphicon glyphicon-plus-sign"></span> Add to Collection
                              </button></td>
                          </tr><!-- end ngRepeat: courseImage in wc.courseImages track by $index -->