
                    </li><!-- end ngIf: courseImage.image_url --><!-- end ngRepeat: courseImage in wc.courseImages track by $index --><!-- ngIf: courseImage.image_url --><li ng-if="courseImage.image_url" ng-repeat="courseImage in wc.courseImages track by $index" class="ng-scope">
                      <img style="background-image: url(https://loris.dev.tlt.harvard.edu/loris/atg-media-management-api-non-prod%2Fdev%2Fimages%2F4%2F9b565b0dbbf699a09ee89a38c40c9e3e.png/full/150,200/0/default.png)" class="droplet-preview ng-isolate-scope ng-valid" ng-model="courseImage">
                      <div class="overlay" ng-click="wc.addToCollection(courseImage)">+</div>
                      <div class="resize-overlay" ng-click="wc.imageView(courseImage.id)">
                        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                      </div>
                    </li><!-- end ngIf: courseImage.image_url --><!-- end ngRepeat: courseImage in wc.courseImages track by $index --><!-- ngIf: courseImage.image_url --><li ng-if="courseImage.image_url" ng-repeat="courseImage in wc.courseImages track by $index" class="ng-scope">
                      <img style="background-image: url(https://loris.dev.tlt.harvard.edu/loris/atg-media-management-api-non-prod%2Fdev%2Fimages%2F3%2Fe3ed069da7b742b49133a6b4949b05d2.jpg/full/79,200/0/default.jpg)" class="droplet-preview ng-isolate-scope ng-valid" ng-model="courseImage">
                      <div class="overlay" ng-click="wc.addToCollection(courseImage)">+</div>
                      <div class="resize-overlay" ng-click="wc.imageView(courseImage.id)">
                        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                      </div>
                    </li><!-- end ngIf: courseImage.image_url --><!-- end ngRepeat: courseImage in wc.courseImages track by $index --><!-- ngIf: courseImage.image_url --><li ng-if="courseImage.image_url" ng-repeat="courseImage in wc.courseImages track by $index" class="ng-scope">
                      <img style="background-image: url(https://loris.dev.tlt.harvard.edu/loris/atg-media-management-api-non-prod%2Fdev%2Fimages%2F2%2F4cb7384d0e49eb880858b5661bae4d08.jpg/full/163,200/0/default.jpg)" class="droplet-preview ng-isolate-scope ng-valid" ng-model="courseImage">
                      <div class="overlay" ng-click="wc.addToCollection(courseImage)">+</div>
                      <div class="resize-overlay" ng-click="wc.imageView(courseImage.id)">
                        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                      </div>
                    </li><!-- end ngIf: courseImage.image_url --><!-- end ngRepeat: courseImage in wc.courseImages track by $index -->
                  </ul>